var path = require('path'),
    config;

config = {
    production: {
        url: '{{ .Env.EXTERNAL_URL }}',
    {{ if has_key .Env "EXTERNAL_TLS_URL" }}
        urlSSL: '{{ .Env.EXTERNAL_TLS_URL }}',{{ end }}
    {{ if or (eql .Env.FORCE_ADMIN_SSL "true") (eql .Env.FORCE_ADMIN_SSL "yes") }}
        forceAdminSSL: true,{{ end }}
        mail: {
            transport: 'SMTP',
            options: {
                service: 'Mailgun',
                auth: {
                    user: '{{ .Env.MAILGUN_USER }}',
                    pass: '{{ .Env.MAILGUN_PASS }}'
                }
            }
        },
        database: {
            client: 'sqlite3',
            connection: {
                filename: '/data/ghost.db'
            },
            debug: false
        },

        server: {
            host: '0.0.0.0',
            port: '{{ .Env.GHOST_PORT }}'
        },

        paths: {
            contentPath: '/data'
        }
    }
};

module.exports = config;
{{ path "/ghost" }}{{ mode 0666 }}